<section class="section bg-light">
  <div class="container bring-to-front pb-0">
    <div class="section-heading text-center w-75 mx-auto">
      <h2>Pourquoi choisir 4CALL?</h2>
      <p class="lead text-secondary">
        Dynamique et réactive, 4CALL travaille en "sur-mesure" avec chacun de
        ses clients, adaptant sa prestation et sa relation client.
      </p>
    </div>

    <div class="shadow bg-contrast p-5 rounded">
      <!--<ngb-tabset type="tabs tabs-clean slide d-inline-flex mb-4" [destroyOnHide]="false">

        <ngb-tab>
          <ng-template ngbTabTitle><span class="bold text-uppercase">Designers</span></ng-template>
          <ng-template ngbTabContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  Engaging designers with tons of design elements
                </h2>
                <p class="lead text-secondary">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Culpa cumque deleniti facere ipsa laborum saepe, tenetur
                  ullam? Consequatur, deserunt eaque facilis hic, illo
                  laboriosam minima quae quia temporibus totam vel.
                </p>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img src="assets/img/screens/designer.png" class="img-responsive shadow rounded" alt="..." />
                </figure>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>-->
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink><span class="bold text-uppercase">Client</span></a>
          <ng-template ngbNavContent>
            <div class="row gap-y">
              <div class="col-lg-6">
                <h2 class="bold mb-4">
                  Fournissant le meilleur service à nos clients
                </h2>
                <p class="lead text-secondary">
                  Nous Avons Toutes Les Solutions Pour Accroître La Satisfaction
                  De Vos Clients Et De Vos Revenus !
                </p>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img
                    src="assets/img/screens/developer.png"
                    class="img-responsive shadow rounded"
                    alt="..."
                  />
                </figure>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</section>
