<section class="section terms">
  <div class="container pt-md-9">
    <h1 class="text-white">Mentions Légales</h1>
    <p class="text-secondary small bold">
      Dernière mise à jour le 6 octobre 2022
    </p>
    <p>
      <strong>Le site web est publié par :</strong> ce site est édité par 4CALL,
      SAS au capital de 100 euros, 10 Avenue de la Fontvin 34970 Lattes.
    </p>
    <p><strong>Siret :</strong> 88397297800026</p>
    <p><strong>Numéro TVA :</strong> FR56883972978</p>
    <p><strong>Directeur de la publication :</strong> TAHIRI Walid</p>
    <p>
      <strong>Crédits :</strong> Réalisation du site web : 4CALL !<br />Réalisation
      charte graphique : 4CALL
    </p>
    <p><strong>Tous droits réservés</strong></p>
    <p>
      Tout utilisateur du site Internet de la société 4CALL est considéré comme
      ayant accepté l’application des lois françaises actuellement en vigueur.
      Il est tenu de respecter les dispositions de la loi Informatique et
      libertés dont la violation est passible de sanctions pénales. L’ensemble
      des éléments composant ce site sont la propriété exclusive la société
      4CALL.
    </p>
    <p>
      Ce site est une œuvre protégée par la législation sur la propriété
      intellectuelle. Seule une utilisation à des fins strictement personnelles
      est autorisée.
    </p>
    <p>
      L’ensemble de ce site relève de la législation française et internationale
      sur le droit d’auteur et la propriété intellectuelle. Tous les droits de
      reproduction sont réservés, y compris pour les documents téléchargeables
      et les représentations iconographiques et photographiques. La reproduction
      de tout ou partie de ce site sur quelque support que ce soit est
      formellement interdite sauf autorisation expresse de la société 4CALL.
      Droits de<br />reproduction et de diffusion réservés © 4CALL.
    </p>
    <p>
      Malgré tous les soins apportés à la réalisation de ce site et à son
      actualisation régulière, des erreurs peuvent s’être glissées dans les
      informations et/ou documents présentés. Les utilisateurs du site
      procéderont donc à toutes vérifications utiles.
    </p>
    <p><strong>Informatique et Libertés</strong></p>
    <p>
      Conformément aux lois en vigueur, les informations collectées par le biais
      de nos formulaires sont exclusivement communiquées à la société 4CALL et
      ne sont communiquées à aucun tiers. Les utilisateurs sont informés qu’ils
      disposent d’un droit d’accès, de modification, de rectification et de
      suppression des données qui les concernent (art. 34 et suivants de la loi
      du 06/01/78 ” Informatique et Libertés – Numéro de déclaration CNIL
      1429543). Pour exercer ce droit, il suffit d’écrire au Directeur de la
      publication à l’adresse suivante : TAHIRI Walid, 4CALL, 10 Avenue de la
      Fontvin<span style="letter-spacing: 0.2px;">
        – 34 970 Lattes en nous indiquant nom, prénom et adresse.</span
      >
    </p>
    <p><strong>Avertissement</strong></p>
    <p>
      Il appartient à l’utilisateur de ce site de prendre toutes les mesures
      appropriées de façon à protéger ses propres données et/ou logiciels de la
      contamination par d’éventuels virus circulant sur le réseau Internet. La
      société 4CALL décline toute responsabilité à un éventuel dommage survenu
      pendant la consultation ou après un téléchargement effectué à partir du
      présent site.
    </p>
    <p>
      L’utilisateur reconnaît avoir été informé que le présent site est
      accessible 24 heures sur 24 et 7 jours sur 7, à l’exception des cas de
      force majeure, difficultés informatiques ou difficultés techniques.
    </p>
    <p>
      Nous ne pouvons assurer la confidentialité des messages que vous pouvez
      nous adresser transitant par un réseau ouvert de télécommunications.
    </p>
    <p>
      Les liens vers d’autres sites ne sont communiqués qu’à titre indicatif et
      ne sauraient en aucun cas engager la responsabilité de la société 4CALL,
      tant en ce qui concerne leur contenu que les conditions d’accès. A
      l’inverse, l’établissement de liens vers une ou plusieurs page(s) du site
      de la société 4CALL n’est autorisé.
    </p>
  </div>
</section>
