<form
  class="form form-contact"
  name="form-contact"
  data-response-message-animation="slide-in-up"
>
  <div class="form-group">
    <label for="name" class="bold mb-0">Nom </label>
    <input
      type="name"
      name="name"
      id="name"
      class="form-control bg-contrast"
      placeholder="Prénom, Nom ou Société"
      required
    />
  </div>
  <div class="form-group">
    <label for="contact_email" class="bold mb-0">Addresse éléctronique </label>
    <small id="emailHelp" class="form-text text-secondary mt-0 mb-2 italic"
      >On ne partage jamais vos addresse avec d'autres tiers.</small
    >
    <input
      type="email"
      name="email"
      id="contact_email"
      class="form-control bg-contrast"
      placeholder="Valid Email"
      required
    />
  </div>

  <div class="form-group">
    <label for="phone" class="bold">Numéro de téléphone</label>
    <input
      type="text"
      name="phone"
      id="phone"
      class="form-control bg-contrast"
      placeholder="Subject"
      required
    />
  </div>

  <div class="form-group">
    <label for="contact_email" class="bold">Message</label>
    <textarea
      name="message"
      id="contact_message"
      class="form-control bg-contrast"
      placeholder="What do you want to let us know?"
      rows="8"
      required
    ></textarea>
  </div>

  <div class="form-group">
    <button
      id="contact-submit"
      name="submit"
      type="submit"
      class="btn btn-primary btn-rounded"
    >
      Envoyer le message
    </button>
  </div>
</form>

<div class="response-message">
  <div class="section-heading">
    <i class="fas fa-check font-lg"></i>
    <p class="font-md m-0">Merci!</p>
    <p class="response">
      Votre message est envoyé, on vous contactera dès que possible.
    </p>
  </div>
</div>
