<form
  class="form form-contact"
  name="form-contact"
  data-response-message-animation="slide-in-up"
>
  <div class="form-group">
    <label for="name" class="bold mb-1">Service(s) souahité(s) </label>
    <br />
    <small class="form-text text-secondary mt-0 mb-2 italic"
      >maintenez la touche 'ctrl' pour une séléction multiple</small
    >
    <select
      name="service"
      id="service"
      class="form-select form-control"
      multiple
    >
      <option value="0">Téléphonie Fixe</option>
      <option value="1">Téléphonie Mobile</option>
      <option value="2">Standard Téléphonique</option>
      <option value="3">CRM et/ou VoIP</option>
      <option value="4">Numéro Spécial et/ou SMS+</option>
      <option value="5">API, Serveur, Interface Graphique...</option>
    </select>
  </div>
</form>
