<section class="section terms">
  <div class="container pt-md-9">
    <h1 class="text-white">
      Politique de sécurité et de confidentialité des données personnelles
    </h1>
    <p class="text-secondary small bold">
      Dernière mise à jour le 6 octobre 2022
    </p>

    <div>
      <div>
        <p><b>1-Champ d’application</b></p>
        <p>
          Cette politique s’applique uniquement dans la mesure où 4CALL traite,
          co-traite ou sous-traite des données personnelles qui proviennent de
          l’Union Européenne, ou qui sont soumises à la législation Européenne
          sur la protection des données, pour la mise en œuvre de ses
          prestations de services.
        </p>
        <p><br /></p>
      </div>
    </div>
    <div
      data-id="46521ba"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <p><b>2-Responsable de traitement</b></p>
          <p>
            L’identité et les coordonnées du responsable de traitement sont les
            suivantes&nbsp;:
          </p>
          <p>
            <b>4CALL&nbsp;</b>société par actions simplifiée, au capital social
            de 100€ immatriculée au RCS de MONTPELLIER sous le numéro 883 972
            978 dont le siège social est 10, avenue de la Fontvin 34970 Lattes.
          </p>
          <p>
            Sans que cette liste ne soit exhaustive, Monsieur Walid TAHIRI est
            le responsable de traitement des données collectées par
            l’intermédiaire des&nbsp;:
          </p>
          <ul>
            <li>contrats avec ses clients et partenaires ;</li>
          </ul>
          <ul>
            <li>demandes de devis et d’informations&nbsp;;</li>
          </ul>
          <ul>
            <li>
              prestataires pour la gestion des prestations et services
              associés&nbsp;;
            </li>
          </ul>
          <ul>
            <li>événements ;</li>
          </ul>
          <ul>
            <li>
              formulaires de demande de contact sur le site&nbsp;<a
                href="https://www.4call.fr"
                >www.4call.fr</a
              >&nbsp;;
            </li>
          </ul>
          <ul>
            <li>réseaux sociaux de 4CALL;</li>
          </ul>
          <ul>
            <li>formulaires d’inscription aux newsletters ;</li>
          </ul>
          <p>
            S’agissant de la délivrance des prestations de services et services
            associés délivrés par 4CALL, la société est sous-traitante de ses
            clients et traite les données portées à sa connaissance en cette
            qualité.
          </p>
          <p><br /></p>
          <p></p>
        </div>
      </div>
    </div>
    <div
      data-id="b2183d1"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <p>
            <b></b
            ><b
              >3-Coordonnées de la personne en charge du service des données
              personnelles chez 4CALL :</b
            >
          </p>
          <p>
            Les coordonnées de la personne en charge des questions relatives aux
            données personnelles et du droit des personnes chez 4CALL sont les
            suivantes&nbsp;:
          </p>
          <p><b>Monsieur Walid TAHIRI</b></p>
          <p>
            <b>Email&nbsp;</b>:
            <a href="mailto:direction@4call.fr">direction@4call.fr</a>
          </p>
          <p><b>Adresse postale</b></p>
          <p>
            <i>4CALL<br /></i
            ><i style="letter-spacing: 0.2px;">10, avenue de la Fontvin</i
            ><i><br /></i>
          </p>
          <p><i>34970 Lattes</i></p>
          <p><i>&nbsp;</i></p>
        </div>
      </div>
    </div>
    <div
      data-id="f0349af"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <p><b>4-</b><b>Finalités</b></p>
          <p>
            Les traitements mis en œuvre par 4CALL ont pour finalités
            d’effectuer l’ensemble des opérations nécessaires pour la gestion,
            la mise en œuvre et le suivi des prestations suivantes&nbsp;:
          </p>
          <ul>
            <li>
              gestion des prestations de services délivrées par 4CALL et des
              services associés, le cas échéant&nbsp;;
            </li>
            <li>abonnements aux newsletters&nbsp;;</li>
            <li>gestion des fichiers clients/prospects ;</li>
            <li>traitement des demandes d’information adressées 4CALL.</li>
          </ul>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
    <div
      data-id="c112842"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <p><b>5-</b><b>Données collectées et modalités de collectes</b></p>
          <p>
            Pour la gestion de ses prestations 4CALL traite ou sous-traite
            notamment les données suivantes&nbsp;:
          </p>
          <ul>
            <li>
              traitement des demandes d’informations&nbsp;: nom, prénom, adresse
              mail, téléphone&nbsp;: collectées via les sites internet, emails
              reçus et autres demandes : collectées directement auprès des
              personnes concernées&nbsp;;
            </li>
          </ul>
          <ul>
            <li>
              gestion des prestations de 4CALL et des prestations
              associées&nbsp;: nom, prénom, mail, numéro de téléphone, services
              souscrits, durée, informations relatives à la facturation :
              collectées directement auprès des personnes concernées par mails
              ou sur le site de l’AFMM dans le cadre de la gestion des plaintes
              et réclamations utilisateurs&nbsp;; tickets d’appels&nbsp;: numéro
              appelé, numéro appelant&nbsp;: collectées auprès des opérateurs
              télécoms collecteurs&nbsp;; tracking&nbsp;: numéro de téléphone
              (fixe et/ou mobile), données de navigation&nbsp;: IP, pages
              visitées, heure de visite, localisation&nbsp;: collectées via des
              cookies sur le site internet des Clients Utilisateurs des services
              associés ; numéros des appelants auprès des opérateurs Télécom
              MGIT indiquant que les appels sont susceptibles d’être
              enregistrés&nbsp;: collectés auprès des opérateurs Telecom&nbsp;;
              enregistrements de appels&nbsp;: collectés auprès opérateurs
              télécoms collecteurs.
            </li>
          </ul>
          <ul>
            <li>
              Le cas échéant&nbsp;: abonnements aux newsletters&nbsp;: nom,
              prénom, date de naissance, e-mail, adresse, code postal, ville,
              pays, téléphone, mobile&nbsp;: collectées directement auprès des
              personnes concernées ;
            </li>
          </ul>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
    <div
      data-id="344636d"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <div><b>6-Durée de conservation</b></div>
          <div>
            <ul>
              <li>
                abonnement à la newsletter&nbsp;: Les données sont conservées
                tant que les inscrits n’ont pas manifesté leur intention de ne
                plus être inscrits aux emailings, newsletters ou aux évènements
                ;
              </li>
            </ul>
            <ul>
              <li>
                traitement des demandes d’information&nbsp;: le temps de traiter
                la demande&nbsp;;
              </li>
            </ul>
            <ul>
              <li>
                gestion des prestations&nbsp;: le temps de la prestation +
                prescription légale&nbsp;;
              </li>
            </ul>
            <ul>
              <li>
                enregistrement des appels&nbsp;: ces enregistrements ne sont pas
                conservés par 4CALL qui ne fait que les transférer à ses
                clients.
              </li>
            </ul>
            <div>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-id="52b8b0b"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <div><b>7-</b><b>Personnels habilités</b></div>
          <div>
            <p>
              Seuls les personnes habilités et sous-traitants de 4CALL ou les
              clients de 4CALL ont accès aux données traitées ainsi que&nbsp;les
              autorités administratives et judiciaires habilités, le cas
              échéant.
            </p>
            <p><br /></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div
      data-id="0772597"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <div>
            <p><b>8-</b><b>Transferts éventuels</b></p>
          </div>
          <div>
            <p>
              Dans le cadre de l’exécution de ses prestations 4CALL est
              susceptible de faire appel à des prestataires situés en dehors de
              l’Union Européenne et notamment aux Etats-Unis s’agissant des
              réseaux sociaux utilisés notamment pour la prospection et sa
              communication avec certains clients. Le cas échéant, les
              entreprises sont enregistrées comme ayant adhérées au
              PrivacyShield. En adhérant au PrivacyShield Agreement, ces
              prestataires garantissent le respect des réglementations
              européennes en matière de protection des données.
            </p>
            <p><br /></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div
      data-id="dc68e2e"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <div>
            <p>
              <b>9-</b
              ><b>Mesures sécurité&nbsp;: organisationnelles, informatiques</b>
            </p>
            <div>
              <p>
                4CALL met en œuvre et maintiendra des mesures de sécurité
                techniques et organisationnelles appropriées pour protéger les
                données à caractère personnel traitées contre toute violation de
                la sécurité et pour préserver la confidentialité de ces données.
                Il s’agit d’une obligation de moyens
              </p>
              <p><br /></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-id="0b6d9d6"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <div>
            <div>
              <p><b>10-Exercice des droits des personnes</b></p>
            </div>
          </div>
          <div>
            <p>
              À tout moment, les demandes relatives au droit des personnes
              peuvent être adressées à 4CALL:
            </p>
            <p><b>Monsieur Walid TAHIRI</b></p>
            <p>
              <b>Email&nbsp;</b>:&nbsp;<a href="mailto:direction@4call.fr"
                >direction@4call.fr</a
              >
            </p>
            <p><b>Adresse postale</b></p>
            <p>
              <i>4CALL<br />Informatique et Libertés</i>
            </p>
            <p><i>10, avenue de la Fontvin</i></p>
            <p><i>34970 Lattes</i></p>
            <p>La demande doit contenir les informations suivantes :</p>
            <ul>
              <li>nom, prénom de la personne concernée&nbsp;;</li>
            </ul>
            <ul>
              <li>
                indiquer le droit dont elle entend se prévaloir&nbsp;: droit
                d’accès, rectification, suppression, opposition, portabilité,
                effacement, limitation du traitement, le retrait de son
                consentement lequel entrera en vigueur au moment de sa
                réception&nbsp;;
              </li>
            </ul>
            <ul>
              <li>
                copie d’une pièce d’identité afin de s’assurer de l’identité de
                la personne à l’initiative de la demande.
              </li>
            </ul>
            <p>4CALL répondra dans les meilleurs délais.</p>
            <p>Tout dossier incomplet ne pourra être traité.</p>
            <p><br /></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div
      data-id="3db5f99"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <div>
            <p><b>11-Notification de failles de sécurité</b></p>
          </div>
          <div>
            <p>
              Toute faille de sécurité constatée doit être adressée à 4CALL dans
              un délai de 48 heures maximum par mail à l’adresse: infra@4call.fr
            </p>
            <p>
              En cas de faille de notification, les informations suivantes
              seront demandées&nbsp;:
            </p>
            <ul>
              <li>
                la nature de la violation de données à caractère personnel y
                compris, si possible, des catégories et du nombre approximatif
                de personnes concernées par la violation et des catégories et du
                nombre approximatif d’enregistrements de données à caractère
                personnel concernés ;
              </li>
            </ul>
            <ul>
              <li>
                du nom et des coordonnées du délégué à la protection des données
                (DPO) le cas échéant, ou de tout contact auprès duquel des
                informations supplémentaires peuvent être obtenues ;
              </li>
            </ul>
            <ul>
              <li>
                les conséquences probables de la violation de données à
                caractère personnel ;
              </li>
            </ul>
            <ul>
              <li>
                les mesures prises ou que le responsable du traitement propose
                de prendre pour remédier à la violation de données à caractère
                personnel, y compris, le cas échéant, les mesures pour en
                atténuer les éventuelles conséquences négatives.
              </li>
            </ul>
            <p>
              4CALL fera ses meilleurs efforts pour collaborer en cas de faille
              de sécurité afin d’y remédier dans les meilleurs délais.
            </p>
            <p><br /></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div
      data-id="9718e73"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <p><b>12-Saisie CNIL</b></p>
          <p>
            Les saisies de la CNIL peuvent être effectuées à l’adresse
            suivante<b>&nbsp;</b
            ><a
              href="https://www.cnil.fr/fr/notifier-une-violation-de-donnees-personnelles"
              >https://www.cnil.fr/fr/notifier-une-violation-de-donnees-personnelles</a
            >
          </p>
          <p><br /></p>
          <p></p>
        </div>
      </div>
    </div>
    <div
      data-id="dd5d8c6"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <p><b>13-Registre traitements</b></p>
          <p>
            Conformément à la règlementation en vigueur, les traitements de
            données personnels mis en œuvre par 4CALL sont consignés au sein
            d’un registre des traitements conservés dans l’entreprise et mis à
            jour chaque année.
          </p>
          <p><br /></p>
          <p></p>
        </div>
      </div>
    </div>
    <div
      data-id="d883e2c"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <p><b>14-Modification des présentes</b></p>
          <div>
            <p>
              Les présentes pourront faire l’objet d’une actualisation. A ce
              titre, les personnes concernées sont invitées à prendre
              connaissance de la dernière version des présentes accessible sur
              le site internet&nbsp;<a href="http://www.4call.fr"
                >www.4call.fr</a
              >.
            </p>
            <p><br /></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div
      data-id="47ea450"
      data-element_type="widget"
      data-widget_type="text-editor.default"
    >
      <div>
        <div>
          <p>
            <b
              ><i
                >Pour plus d’informations, nous vous invitons à prendre contact
                avec nous à l’adresse suivante&nbsp;: contact@4call.fr &#8230;
                .</i
              ></b
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
